# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env files
.env
.env.*

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
#dev notes scribble pad
DevNote.md
